body {
  background-color: lightblue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 8px 6px;
  text-decoration: none;
}
h1 {
	margin-top: 7%;
	text-align: center;
}

iframe.eliza {
	padding-left: 5%;
	flex-grow: 2;
	border: none;
	margin-top: -1%
}

div.eliza {
	display: flex;
	flex-flow: row;
	height: 100%
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
}
ul {
  position: fixed;
  top: 0;
  width: 75%;
}
