body {
  background-color: lightblue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 8px 6px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
}
ul {
  position: fixed;
  top: 0;
  width: 75%;
}
