li.nav a {
	font-family: "Garamond", serif;
	font-size: 1.5em;
	display: block;
  	text-align: center;
  	padding: 14px 25px;
  	text-decoration: none;
}
ul.nodot {
	list-style-type: none;
	margin-left: 8%;
}
a {
  color: black;
}
